/*
Name: style.css
Description: Style sheet
Created by: Masato Shima
Created on: 2019/09/04
*/
body {
    background-color: darkred;
    color: white;
    font-family: Helvetica Neue, Arial, sans-serif;
}

/* End */
